* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white: #ffffff;
    --black: #000000;
    --yellow: hsl(47, 95.7%, 63.9%);
    --gray: #ccc;
}
body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.ticket-container {
    background-color: var(--yellow);
    width: 450px;
    min-height: 70vh;
    display: flex;
    align-items: stretch;
    overflow: hidden;
}

.ticket {
    background-color: var(--white);
    margin: 10px 20px 25px 20px;
    flex: 1;
    padding: 15px;
    border-radius: 30px;
    border: 1px solid var(--gray);
    position: relative;
    -webkit-box-shadow: 0px 17px 34px -34px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 17px 34px -34px rgba(0, 0, 0, 1);
    box-shadow: 0px 17px 34px -34px rgba(0, 0, 0, 1);
    @supports (corner-shape: squircle) {
        corner-shape: squircle;
    }
    &::before {
        content: "";
        width: 20px;
        height: 20px;
        background-color: var(--yellow);
        position: absolute;
        left: -10px;
        top: 64px;
        border-radius: 40%;
    }
    &::after {
        content: "";
        width: 20px;
        height: 20px;
        background-color: var(--yellow);
        position: absolute;
        right: -10px;
        top: 64px;
        border-radius: 40%;
    }
}

.train-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon-wrap {
        display: flex;
        /*background-color: red;*/
        justify-content: space-between;
        align-items: center;
        & :nth-child(2) {
            font-size: 25px;
            font-weight: 600;
            letter-spacing: 1px;
            margin-left: 10px;
        }
    }
    .icon {
        background-color: var(--yellow);
        padding: 5px;
        border-radius: 50%;
        border: 1px solid var(--black);
        width: 34px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .price {
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.separator {
    width: 100%;
    margin-top: 25px;
    border-bottom: 1px dashed var(--gray);
    position: relative;
}

.location {
    width: 100%;
    /*background-color: red;*/
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    & hr {
        border: 1px dashed var(--gray);
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        /*transform: translate(-50%, 50%);*/
    }
}

.location-icon {
    background-color: var(--yellow);
    text-align: center;
    width: 50%;
    padding: 3px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 20px;
    border: 0.5px solid var(--black);
    outline: none;
    position: relative;
}

.location-text {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    text-align: center;
    :nth-child(1) {
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 500;
        color: var(--black);
    }
    :nth-child(2) {
        text-transform: capitalize;
        color: var(--gray);
    }
}

.extra-container {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    margin: 40px 0px;
}

.flex-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.passenger-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    :nth-child(1) {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    :nth-child(2) {
        & h2 {
            font-size: 25px;
            display: inline;
            font-weight: 500;
            letter-spacing: 1px;
        }
        & h3 {
            color: var(--gray);
            font-size: 15px;
            letter-spacing: 1px;
            font-weight: 500;
            line-height: 30px;
        }
    }
}

.twin-text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    letter-spacing: 0.5px;
    :nth-child(1) {
        color: var(--gray);
        font-size: 20px;
    }
    :nth-child(2) {
        color: var(--black);
        font-size: 25px;
        font-weight: 600;
    }
}
.twin-text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    letter-spacing: 0.5px;
    :nth-child(1) {
        color: var(--gray);
        font-size: 20px;
    }
    :nth-child(2) {
        color: var(--black);
        font-size: 25px;
        font-weight: 600;
    }
}

.bar-container {
    background-color: var(--gray);
    /*width: 100%;*/
    padding: 15px;
    margin: 0px -15px;
}

.barcode {
    width: auto;
    height: 100px;
    background-color: var(--white);
    border: 1px solid var(--black);
    padding: 10px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.download {
    width: 100%;
    padding: 20px 10px 5px 10px;
    font-size: 20px;
    word-spacing: 2px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
